<div class="row">
    <div class="col-lg-12">
		<h1>Donate</h1>

		<p>Personal privacy should not come at a cost. If you find these tools useful and are using them regularly, your donations are gratefully accepted.</p>

		<table class="table">
			<tbody>
				<tr>
					<th>
						Bitcoin
					</th>
					<td>
						<a target="_blank" href="https://btc.blockr.io/address/info/16sVdurkUdEHwSAhVb1FhDWNKwaUwUqDZA">16sVdurkUdEHwSAhVb1FhDWNKwaUwUqDZA</a>
					</td>
				</tr>
				<tr>
					<th>
						Ethereum
					</th>
					<td>
						<a target="_blank" href="https://www.etherchain.org/account/0xdd10486636ba84083176c6576601e7237607d5af">0xdd10486636ba84083176c6576601e7237607d5af</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

