<div class="row">
    <div class="col-lg-12">
		<h1>Donate</h1>

		<p>Personal privacy should not come at a cost. If you find these tools useful and are using them regularly, your donations are gratefully accepted.</p>

		<table class="table">
			<tbody>
				<tr>
					<th>
						Bitcoin
					</th>
					<td>
						<a href="https://btc.blockr.io/1addressjfiodsjifidjsaofjsoijfodsajfojdsafoidsajifd">1addressjfiodsjifidjsaofjsoijfodsajfojdsafoidsajifd</a>
					</td>
				</tr>
				<tr>
					<th>
						Ethereum
					</th>
					<td>
						<a href="https://btc.blockr.io/1addressjfiodsjifidjsaofjsoijfodsajfojdsafoidsajifd">1addressjfiodsjifidjsaofjsoijfodsajfojdsafoidsajifd</a>
					</td>
				</tr>
				<tr>
					<th>
						Litecoin
					</th>
					<td>
						<a href="https://btc.blockr.io/1addressjfiodsjifidjsaofjsoijfodsajfojdsafoidsajifd">1addressjfiodsjifidjsaofjsoijfodsajfojdsafoidsajifd</a>
					</td>
				</tr>
				<tr>
					<th>
						Others
					</th>
					<td>
						<a href="https://btc.blockr.io/1addressjfiodsjifidjsaofjsoijfodsajfojdsafoidsajifd">1addressjfiodsjifidjsaofjsoijfodsajfojdsafoidsajifd</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

